<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayPal Test</title>
</head>
<body>
    <h1>Mona Lisa's smile</h1>
    <h2>Only cost $10</h2>
    <form action="paypal/pay" method="post">
        <input type="submit" value = "Buy">
    </form>
</body>
</html>